# 1-Utilizando as funções `print()` e `input()`

1.1 - Crie um script que solicite ao usuário o seu nome e em seguida imprima a frase: **"`nome do usuário`, seja muito bem vindo(a)!"**

In [2]:
nome_de_usuario = input(print("Insira seu nome: "));
print(f"{nome_de_usuario}, seja muito bem vindo(a)!");

Insira seu nome:

None minoru

minoru, seja muito bem vindo(a)!

# 2-Operadores aritméticos

2.1 - Utilize o Python para calcular a média das notas de uma prova de matemática.

- **Nota 1:** 7.8
- **Nota 2:** 8.9
- **Nota 3:** 8.3

In [4]:
nota_01 = float(input(print("Insira a nota do 1° semestre ")));
nota_02 =  float(input(print("Insira a nota do 2° semestre ")));
nota_final = [nota_01, nota_02];
nota_final = sum(nota_final)/len(nota_final);
print(f"Sua nota final é : {nota_final}")

Insira a nota do 1° semestre

None 01

Insira a nota do 2° semestre

None 02

Sua nota final é : 1.5

2.2 - Sabemos que a fórmula para calcular a área de um retângulo é **A = b.h**, onde:

- **A** é a área a ser calculada
- **b** é o comprimento da base 
- **h** o comprimento da altura. 

Dado o retângulo abaixo, utilize o Python para calcular a sua área.

![image.png]()

In [7]:
b = 10;
h = 12;
A = b*h;
print(f"A área é : {A}")

A área é : 120

2.3 - Utilize a linguagem Python para calcular a seguinte expressão matemática:

$$
\begin{aligned}
x & = 20 * 7 +  4^2  / 4 \\
\end{aligned}
$$

In [51]:
x = 20*7+4**2/4
print(x)

144.0

# 3-Operadores relacionais e lógicos

3.1 - Verifique se 10 é maior ou igual a 15

In [8]:
10 >= 15

False

3.2 - Verifique se a string **Python** é igual à string **python**

In [13]:
"Python" == "python"

False

3.3 - Verifique se 100 é menor que 59 **E** se 200 é maior ou igual a 159

In [52]:
100 < 59 and 200 >= 159

False

3.4 - Verifique se 100 é maior que 48 **OU** a string **Python** é igual à string **python**

In [15]:
100 > 48 or "Python" == "python"

True

3.5 - Faça a negação da expressão `10 > 3`

In [17]:
not 10 > 3

False

In [58]:
nome = "it"  
sobrenome = "a Coisa"
nome_completo = nome + " " + sobrenome 
print(nome_completo)
print(nome[0])

it a Coisa
i

# 4 - Trabalhando com strings

4.1 - Dada a frase **Eu amo programar na linguagem Python!**, utilize um método que retorne **EU AMO PROGRAMAR NA LINGUAGEM PYTHON!**

In [7]:
texto =  "Eu amo programar na linguagem Python!"
texto.upper()

'EU AMO PROGRAMAR NA LINGUAGEM PYTHON!'

4.2 - Dada a frase **Eu amo programar na linguagem Python!**, utilize f-strings e a técnica de slicing para retornar a frase **Amo Python!**

**Atenção:** a letra **A** da palavra **amo** deve ser maiúscula!

In [20]:
texto = " Eu amo programar na linguagem Python!"
texto = texto.split(" ")
# print(texto) # lista
# print(texto[2],texto[6] ) # texto amo Python!

amo = texto[2]
amo = amo.capitalize()

frase = f"{amo} {texto[6]}"
print(frase)

Amo Python!

In [26]:
frase = " Eu amo programar na linguagem Python!"
amo = frase[4:7]
pYthon! = frase[]

# 5 - Estruturas de dados

## 5.1 - Listas

5.1.1 - Dada a lista abaixo, aplique as seguintes operações:

In [90]:
lista = [1, 100, 'Instagram', 'Python', 100, True, 0, False]

- adicione o elemento `Senai Ary Torres` no final da lista

In [91]:
lista.append("Senai Ary Torres")
print(lista)

[1, 100, 'Instagram', 'Python', 100, True, 0, False, 'Senai Ary Torres']

- adicione o elemento `149.50` na segunda posição da lista

In [92]:
lista.insert(1, 149.50)
print(lista)

[1, 149.5, 100, 'Instagram', 'Python', 100, True, 0, False, 'Senai Ary Torres']

- remova o elemento `Instagram` da lista

In [93]:
lista.remove("Instagram")
print(lista)

[1, 149.5, 100, 'Python', 100, True, 0, False, 'Senai Ary Torres']

- modifique o elemento `False` para `True`

In [94]:
lista[True] = False

- verifique se o elemento de índice 5 é igual ao elemento de índice 7

In [95]:
lista[5] == lista[7]

False

## 5.2 - Dicionários

5.2.1 - Dado o dicionário abaixo, aplique as seguintes operações:

In [14]:
dados = {
    'nome': 'Senai Ary Torres',
    'curso': 'Primeiros passos na linguagem Python',
    'modulo': 'Exercícios de fixação',
    'nota obtida': 9.2
}

- imprima qual é o nome do curso

In [15]:
print(dados["curso"])

Primeiros passos na linguagem Python

- altere a nota obtida para **10.0**

In [16]:
dados["nota obtida"]= 10.0
print(dados["nota obtida"])

10.0

- apague o elemento `modulo`

In [17]:
del dados["modulo"]

- imprima o nome do curso, com a **primeira letra de cada palavra** em **maiúsculo**

In [19]:
dados["curso"].title()

'Primeiros Passos Na Linguagem Python'

## 5.3 - Tuplas

5.3.1 - Dada a tupla abaixo, imprima:

In [5]:
tupla = (1, 2, 3, (4, 5), (6, 7))

- o elemento **1**

In [11]:
print(tupla[0])

1

- o elemento **4**

In [13]:
print(tupla[3][0])

4

- o elemento **(6, 7)**

In [14]:
print(tupla[4])

(6, 7)

## 5.4 - Conjuntos (set)

5.4.1 - Dados os conjuntos abaixo, aplique as seguintes operações:

In [16]:
conj_a = {1, 2, 3, 4, 5}
conj_b = {6, 7, 3, 8, 9}

- a **união** dos conjuntos

In [18]:
conj_a_b = conj_a.union(conj_b)
print(conj_a_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

- a **interseção** dos conjuntos

In [20]:
conj_a_b_intersecao = conj_a.intersection(conj_b)
print(conj_a_b_intersecao)

{3}

# 6-Estruturas de repetição & condicionais

6.1 - Desafio 🔥🔥🔥

Neste desafio, vamos aumentar um pouquinho o nível de complexidade do exercício. Vamos utilizar os conceitos que praticamos acima, junto com as estruturas de repetição e condicionais para resolver o problema.

**Problema**

A lista abaixo contém as seguintes informações de pessoas que pretendem dirigir:

- `nome`: nome da pessoa
- `carteira`: **`True`** para as que possuem, **`False`** para as que não possuem
- `idade`:a idade da pessoa

Precisamos percorrer toda a lista e verificar se a pessoa pode ou não dirigir. Só podem dirigir as que possuem carteira **E** que a idade é maior ou igual a 18 anos.

- para as pessoas que podem dirigir, imprima a frase: **`nome pode dirigir.`**
- para as que não podem, imprima: **`nome não pode dirigir!`**

In [17]:
pessoas = [ ('João', True, 21), ('Gabriel', False, 25), ('Ana', True, 20), ('Victor', True, 30), ('Lucas', False, 15) ]

In [44]:
# for condutor in pessoas:
#    print(condutor)

# for condutor in pessoas:
#    if condutor["carteira"] == True:
#        print(f"{condutor["nome"]}pode dirigir.")
#    else condutor["carteira"] == False:
#        print(f"{condutor["nome"]} não pode dirigir.")

for pessoa in pessoas:
    nome = pessoa[0];
    carteira = pessoa[1];
    idade = pessoa[2];

    if carteira:
        print(f"{nome} pode dirigir.")
    else:
        print(f"{nome} não pode dirigir.")

João pode dirigir.
Gabriel não pode dirigir.
Ana pode dirigir.
Victor pode dirigir.
Lucas não pode dirigir.

# 7-Funções

7.1 - Desafio 🔥🔥🔥

a) Crie uma função que receba 3 argumentos:

- nome
- carteira (True ou False)
- idade

e verifique se a pessoa pode ou não dirigir. 
- caso possa dirigir, a função deve imprimir a frase **`nome pode dirigir.`**
- caso negativo, deve imprimir **`nome não pode dirigir!`**

b) **reescreva a solução do último desafio utilizando a função que você criou!**

In [16]:
nome = input(print("Insira o nome: "))
carteira = (input(print("Tem carteira? Digite True ou False ")))
idade = int(input(print("Insira a idade: ")))

if carteira.lower() == "true":
    carteira = True       
elif carteira.lower() == "false":
    carteira = False
else : 
    print("Entrada inválida, insira novamente !")

if carteira == True and idade > 17:
    print("Ok!")
else:
    print("Não pode dirigir!")

Insira o nome:

None mi

Tem carteira? Digite True ou False

None not

Insira a idade:

None 18

Entrada inválida, insira novamente !
Não pode dirigir!